@using System.Security.Claims;
@using WydarzeniaKulturalne.Data.Entities;
@*pozwala na wydobycie danych dot. zalogowanego uzytkownika*@
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewData["Title"] - WydarzeniaKulturalneMVC</title>

    <link href="~/adminPanel/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet" type='text/css'>
    <!-- MDB -->
    <link href="~/adminPanel/css/sb-admin-2.min.css" rel="stylesheet">
    <!--TinyMCE-->
    <script src="https://cdn.tiny.cloud/1/7l51pfigmxtfq5oi43r0sr60ypv9do0d9vwu6guikgwqeaoc/tinymce/6/tinymce.min.js" referrerpolicy="origin">
    </script>

</head>
<style>

    .admin-btn {
        color: #fff;
        background-color: #de753f !important;
        border-color: #de753f !important;
    }

    .admin-btn-search {
        color: #fff;
        background-color: #de753f !important;
        border-color: #de753f !important;
    }

    .admin-table-thead {
        color: white !important;
    }

    .admin-table-tbody {
    }

    .admin-table-title {
    }

    .admin-table-tbody {
    }

    a {
        color: #d1d3e2;
        text-decoration: none;
        background-color: transparent;
    }

        a:hover {
            color: #d1d3e2;
            text-decoration: none;
        }

    .bg-gradient-primary {
        background-color: #142028;
        background-image: linear-gradient(180deg,#ff8b74 10%,#ff678f 100%);
        background-size: cover;
    }

    #wrapper #content-wrapper {
        background-color: #1e1e2f;
        width: 100%;
        overflow-x: hidden;
    }

    .bg-white {
        background-color: #1e1e2f !important;
    }

    .bg-footer {
        background-color: #00000000 !important;
    }

    .btn-primary {
        color: #fff;
        background-color: #de753f !important;
        border-color: #de753f !important;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #27293d;
        background-clip: border-box;
        border: 1px solid #242639;
        border-radius: .35rem;
    }

    input[type=checkbox] {
        accent-color: #de753f;
    }

    .sidebar-dark .nav-item .nav-link i {
        color: #ffffff;
    }

    .text-gray-800 {
        color: #ffffff !important;
    }

    .text-gray-600 {
        color: #ffffff !important;
    }

    .text-primary {
        color: whitesmoke !important;
    }

    .table-collapse {
        width: 100%;
        margin-bottom: 1rem;
        color: #bb8558;
    }

    .card-header:first-child {
        border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
        background: #27293d;
    }

    .sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
        padding: .5rem 1rem;
        margin: 0 .5rem;
        display: block;
        color: #ffffff;
        text-decoration: none;
        border-radius: .35rem;
        white-space: nowrap;
    }

        .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
            background-color: rgb(255 255 255 / 15%);
        }

    .bg-white-1 {
        background-color: rgb(0 0 0 / 17%) !important;
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: #f8f9fc;
        border-bottom: 1px solid #e3e6f000;
    }

    .btn-link {
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px #6e707e;
        border-top: 0;
        font-size: 12px;
        text-transform: uppercase;
    }

    .table td, .table th {
        padding: 0.6rem;
        vertical-align: top;
        border-top: 1px solid #5a5c69;
        font-size: 15px;
    }

    .btn-info {
        color: #de753f;
        background-color: rgb(0 0 0 / 0%);
        border-color: rgb(0 0 0 / 0%);
    }

    .btn-danger {
        color: #ff2600;
        background-color: #e74a3b00;
        border-color: #e74a3b00;
    }

    .btn-warning {
        color: #fff;
        background-color: #1c3859;
        border-color: #1c3859;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dddfeb;
        background-color: #e3e6f000;
        background-clip: padding-box;
        border: 1px solid rgb(43 79 121 / 35%);
        border-radius: .35rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .form-check-label {
        margin-left: 1.3rem;
        margin-bottom: 0;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #27293d;
        background-clip: border-box;
        border: 1px solid #242639;
        border-radius: .35rem;
        color: whitesmoke;
        font-weight: 100;
    }

    .h4, h4 {
        font-size: 1.5rem;
        font-weight: 100;
        font-size: 1.5rem;
        color: whitesmoke;
    }

    .h3, h3 {
        font-size: 1.5rem;
        font-weight: 100;
        color: whitesmoke;
    }

    .th-action {
        width: 7rem;
    }

</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="~/img/Logo.png"
                         height="30"
                         alt="WK"
                         loading="lazy" />
                </div>
                <div class="sidebar-brand-text mx-3">Wk <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="AdminPanel">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel administratora</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Użytkownik</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white-1 py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Użytkownicy</h6>
                        <a class="collapse-item" asp-area="" asp-controller="Uzytkownik" asp-action="Index">Użytkownicy</a>
                        <a class="collapse-item" asp-controller="Rola" asp-action="Index">Role</a>

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Inne strony</h6>
                        <a class="collapse-item" asp-controller="Errors" asp-action="Error401">Error401</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Bilety" asp-action="Index">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Bilety</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="WydarzenieKulturalne" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Wydarzenia</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="KategoriaWydarzenia" asp-action="Index">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Kategoria wydarzenia</span>
                </a>
            </li>


            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="LokalizacjaWydarzenia" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Lokalizacja wydarzenia</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SpecjalnyTag" asp-action="Index">
                    <i class="fas fa-fw fa-bookmark"></i>
                    <span>SpecjalnyTag</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="FinalizacjaKoszyka" asp-action="Index">
                    <i class="fas fa-fw fa-bookmark"></i>
                    <span>Zamowienia szczegóły</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" asp-controller="FinalizacjaKoszyka" asp-action="StatystykaSprzedazy">
                    <i class="fa fa-chart-area"></i>
                    <span>Statystyka sprzedaży</span>
                </a>
            </li>



            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (HttpContextAccessor?.HttpContext?.User?.Identity?.IsAuthenticated is true)
                                {
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Dzień dobry, @User.FindFirst(ClaimTypes.Name).Value</span>
                                }
                                else
                                {
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Witaj</span>
                                }
                                <i class="fas fa-user fa-sm fa-fw mr-2 mb-1 text-gray-400"> </i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-regular fa-paper-plane  fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Strona główna
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Uzytkownik" asp-action="Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Wyloguj
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                @RenderBody()
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; WK 2024</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="~/adminPanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/adminPanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/adminPanel/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/adminPanel/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/adminPanel/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/adminPanel/js/demo/chart-area-demo.js"></script>
    <script src="~/adminPanel/js/demo/chart-pie-demo.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>