@model WydarzeniaKulturalne.Data.Entities.Zamowienie
@{
    ViewBag.Title = "Address And Payment";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Platnosc" method="post">
    <fieldset>
        <legend>Shipping Information</legend>
        <div class="form-group">
            <!-- Pola formularza dla modelu Order -->
            <label asp-for="Imie">Imię</label>
            <input asp-for="Imie" class="form-control" />
            <!-- Dodaj resztę pól dla informacji o wysyłce... -->
        </div>
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <div class="form-group">
            <label for="kodPromocyjny">Kod Promocyjny:</label>
            <input type="text" name="kodPromocyjny" />

            <input type="submit" value="Zatwierdź płatność" />
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit Order</button>
</form>