@model WydarzeniaKulturalne.Data.Entities.Zamowienie
@{
    ViewBag.Title = "Address And Payment";
}

@*<h2>@ViewData["Title"]</h2>

<form asp-action="Platnosc" method="post">
    <fieldset>
        <legend>Shipping Information</legend>
        <div class="form-group">
            <!-- Pola formularza dla modelu Order -->
            <label asp-for="Imie">Imię</label>
            <input asp-for="Imie" class="form-control" />   <!-- Pola formularza dla modelu Order -->
            <label asp-for="Nazwisko">Nazwisko</label>
            <input asp-for="Nazwisko" class="form-control" />
            <!-- Dodaj resztę pól dla informacji o wysyłce... -->
        </div>
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <div class="form-group">
            <label for="kodPromocyjny">Kod Promocyjny:</label>
            <input type="text" name="kodPromocyjny" />

            <input type="submit" value="Zatwierdź płatność" />
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit Order</button>
</form>*@<h2>Płatność</h2>

<form asp-action="Platnosc" method="post">
    <div class="form-group">
        <label asp-for="Imie">Imię</label>
        <input asp-for="Imie" class="form-control" />
        <span asp-validation-for="Imie" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nazwisko">Nazwisko</label>
        <input asp-for="Nazwisko" class="form-control" />
        <span asp-validation-for="Nazwisko" class="text-danger"></span>
    </div>

    <div class="form-group">

    </div>

    <div class="form-group">
        <label for="kodPromocyjny">Kod Promocyjny:</label>
        <input type="text" name="kodPromocyjnyWpis" />
        <p class="text-danger">@TempData["ErrorMessagePlatnosc"]</p>
    </div>

    <button type="submit" class="btn btn-primary">Złóż zamówienie</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}