@model int
@{
    ViewBag.Title = "Finalizacja zakupów";
}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5 mb-10">
        <div class="link-container">
                <h5>Dziękujemy za złożenie zamówienia numer: @Model</h5>
                Zapraszam do dalszych zakupów
            </p>
            <br />
            <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Sklep</a>
        </div>
    </div>
</section>
