@model WydarzeniaKulturalne.Data.Entities.Bilety

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="card shadow m-4 p-">
    <h4 class="ml-3 mb-3 py-3"> Bilety</h4>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-warning">Powrót</a>
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="WydarzenieKulturalneId" class="control-label">Wydarzenie</label>
                            <select asp-for="WydarzenieKulturalneId" class="form-control" asp-items="ViewBag.WydarzenieKulturalne"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LokalizacjaWydarzeniaId" class="control-label">Lokalizacja</label>
                            <select asp-for="LokalizacjaWydarzeniaId" class="form-control" asp-items="ViewBag.LokalizacjaWydarzenia"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IloscBiletow" class="control-label"></label>
                            <input asp-for="IloscBiletow" class="form-control" />
                            <span asp-validation-for="IloscBiletow" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DataWydarzenia" class="control-label"></label>
                            <input asp-for="DataWydarzenia" class="form-control" />
                            <span asp-validation-for="DataWydarzenia" class="text-danger"></span>
                        </div>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="CzyDostepne" type="checkbox"/> @Html.DisplayNameFor(model => model.CzyDostepne)
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        tinymce.init({
            forced_root_block: "",
            selector: 'textarea',
            menubar: false,
            statusbar: false,
            language: 'pl'
        });
    </script>
}