@model WydarzeniaKulturalne.Data.Entities.LokalizacjaWydarzenia

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow m-4 p-4">
    <h4 class="ml-3 mb-3 py-3"> Lokalizacja</h4>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-warning">Powrót</a>
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="NazwaMiejsca" class="control-label"></label>
                            <input asp-for="NazwaMiejsca" class="form-control" />
                            <span asp-validation-for="NazwaMiejsca" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Miejscowosc" class="control-label"></label>
                            <input asp-for="Miejscowosc" class="form-control" />
                            <span asp-validation-for="Miejscowosc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Ulica" class="control-label"></label>
                            <input asp-for="Ulica" class="form-control" />
                            <span asp-validation-for="Ulica" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NumerDomu" class="control-label"></label>
                            <input asp-for="NumerDomu" class="form-control" />
                            <span asp-validation-for="NumerDomu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="KodPocztowy" class="control-label"></label>
                            <input asp-for="KodPocztowy" class="form-control" />
                            <span asp-validation-for="KodPocztowy" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        tinymce.init({
            forced_root_block: "",
            selector: 'textarea',
            menubar: false,
            statusbar: false,
            language: 'pl'
        });
    </script>
    }
