@{
    ViewData["Title"] = "Home Page";
}
<main>

    <!-- Navbar -->
  
    <!-- Navbar -->
    <div class="container mt-2">
      
        <!-- Products -->
        <section class="events-promoted">

            <div class="container firstContainer">
                <header align="left">
                    <div class="card-header">
                        <a href="/stand-up">
                            <h5>Polecane</h5>
                        </a>
                    </div>
                </header>
                <div id="one" class="owl-carousel owl-theme">
                    <div class="row g-5 justify-content-evenly">
                        <div class="col">
                            <div class="card hover-zoom ripple-surface ripple-surface-light">
                                <div class="row g-0">
                                    <div class="col">
                                        <img src="https://img.freepik.com/darmowe-zdjecie/wnetrze-strzal-kawiarnia-z-krzeslami-blisko-baru-z-drewnianymi-stolami_181624-1669.jpg?w=996&t=st=1703685831~exp=1703686431~hmac=62998f251104ca3a7cf36feea8ee14edb19364068b93e23a501981036283d81a"
                                             class="card-img-promoted img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5 justify-content-evenly">
                        <div class="col">
                            <div class="card hover-zoom ripple-surface ripple-surface-light">
                                <div class="row g-0">
                                    <div class="col">
                                        <img src="https://img.freepik.com/darmowe-zdjecie/wnetrze-strzal-kawiarnia-z-krzeslami-blisko-baru-z-drewnianymi-stolami_181624-1669.jpg?w=996&t=st=1703685831~exp=1703686431~hmac=62998f251104ca3a7cf36feea8ee14edb19364068b93e23a501981036283d81a"
                                             class="card-img-promoted img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5 justify-content-evenly">
                        <div class="col">
                            <div class="card hover-zoom ripple-surface ripple-surface-light">
                                <div class="row g-0">
                                    <div class="col">
                                        <img src="https://img.freepik.com/darmowe-zdjecie/wnetrze-strzal-kawiarnia-z-krzeslami-blisko-baru-z-drewnianymi-stolami_181624-1669.jpg?w=996&t=st=1703685831~exp=1703686431~hmac=62998f251104ca3a7cf36feea8ee14edb19364068b93e23a501981036283d81a"
                                             class="card-img-promoted img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5 justify-content-evenly">
                        <div class="col">
                            <div class="card hover-zoom ripple-surface ripple-surface-light">
                                <div class="row g-0">
                                    <div class="col">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg"
                                             class="card-img-promoted img-fluid" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5 justify-content-evenly">
                        <div class="col">
                            <div class="card hover-zoom ripple-surface ripple-surface-light">
                                <div class="row g-0">
                                    <div class="col">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/11.jpg"
                                             class="card-img-promoted img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section class="TwoHeadLineTabel">
            <div class="row tableColumn ms-2 ">
                <div class="col-md-6 col-12 mb-3 ">
                    <div class=" flex-md-equal w-100 my-md-3 pl-md-3">
                        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden backgroundImg2">
                            <div class="my-3 py-3">
                                <h2 class="display-5">Another headline</h2>
                                <p class="lead">And an even wittier subheading.</p>
                            </div>
                            @*     <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">*@
                        </div>
                    </div>
                    <div class=" flex-md-equal w-100 my-md-3 pl-md-3 my-1">
                        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden backgroundImg">
                            <div class="my-3 py-3">
                                <h2 class="display-5">Another headline</h2>
                                <p class="lead">And an even wittier sa.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 ">
                    <div class="flex-md-equal w-100 my-md-3 pl-md-3">
                        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                            <h5 class="card-title titleTabel"> Ostatnio dodane</h5>
                            <div class="my-3 py-3 table-responsive">
                                <table class="table  ">
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>o</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>twitter</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bg-light box-shadow mx-auto " style="width: 50%; height: %; border-radius: 21px 21px 0 0;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <section class="headLine">
        <div class="heroimg ms-2 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center w-100 my-md-3 pl-md-3">
            <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
        </div>
        </section>
        <hr />
        <section class="events-slider">
            <div class="container firstContainer">
                <header align="left">
                    <div class="card-header">
                        <a href="/stand-up">
                            <h5 >StandUp</h5>
                        </a>
                    </div>
                </header>
                <div id="two" class="owl-carousel owl-theme">
                    <div class="row g-5 justify-content-evenly">
                        <div class="col">
                            <div class="card hover-zoom ripple-surface ripple-surface-light">
                                <div class="row g-0">
                                    <div class="col">
                                        <img src="https://img.freepik.com/darmowe-zdjecie/wnetrze-strzal-kawiarnia-z-krzeslami-blisko-baru-z-drewnianymi-stolami_181624-1669.jpg?w=996&t=st=1703685831~exp=1703686431~hmac=62998f251104ca3a7cf36feea8ee14edb19364068b93e23a501981036283d81a"
                                             class="card-img img-fluid" />
                                    </div>
                                    <div class="col">
                                        <div class="card-body d-flex flex-column">
                                            <div class="h-100">
                                                <h5 class="card-title"> WKontolre do kliknieta</h5>
                                            </div>
                                            <div class="col">
                                                <p class="card-text ">
                                                    <small class="text-muted">
                                                        Najbliższe wydarzenie
                                                        23.01.2023 20:31
                                                    </small>
                                                </p>
                                                <div class="text-end">
                                                    <a asp-controller="WydarzenieKulturalne" asp-action="Index" class="btn btn-dark">
                                                        Czytaj dalej
                                                    </a>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5 justify-content-evenly">
                        <div class="col">
                            <div class="card hover-zoom ripple-surface ripple-surface-light">
                                <div class="row g-0">
                                    <div class="col">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg"
                                             class="card-img img-fluid " />
                                    </div>
                                    <div class="col">
                                        <div class="card-body d-flex flex-column ">
                                            <div class="h-100">
                                                <h5 class="card-title">Walking tour</h5>
                                            </div>
                                            <div class="col">
                                                <p class="card-text ">
                                                    <small class="text-muted">Najbliższe wydarzenie 23.01.2023 20:31</small>
                                                </p>

                                                <div class="text-end">
                                                    <button type="button" class="btn btn-dark">
                                                        Kup bilet
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-5 justify-content-evenly">
                        <div class="col">
                            <div class="card hover-zoom ripple-surface ripple-surface-light">
                                <div class="row g-0">
                                    <div class="col">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/11.jpg"
                                             class="card-img img-fluid" />
                                    </div>
                                    <div class="col">
                                        <div class="card-body d-flex flex-column ">
                                            <div class="h-100">
                                                <h5 class="card-title">Walking tour</h5>
                                            </div>
                                            <div class="col">
                                                <p class="card-text ">
                                                    <small class="text-muted">
                                                        Najbliższe wydarzenie
                                                        23.01.2023 20:31
                                                    </small>
                                                </p>
                                                <div class="text-end">
                                                    <button type="button" class="btn btn-dark">
                                                        Kup bilet
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
            <ul class="pagination">
            </ul>
        </nav>
    </div>
</main>

<!-- Pagination -->
